<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="container border rounded mt-4">
                <div class="row mt-4 mb-4">
                    <div class="col">
                        <h1 class="text-center display-4">Czy na pewno usunąć ten film?</h1>
                    </div>
                </div>
                <div class="row mt-4 mb-4 justify-content-center">
                    <div class="col-8">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    Id filmu
                                </div>
                                <div class="col-8">
                                    {{movie.id}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    Tytuł filmu
                                </div>
                                <div class="col-8">
                                    {{movie.title}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    Długość filmu
                                </div>
                                <div class="col-8">
                                    {{movie.durationHours}}:{{movie.durationMinutes}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mb-4">
                    <div class="col-10">
                        <div class="container">
                            <div class="input-group">
                                <div class="col text-center">
                                    <button class="btn btn-primary" (click)="deleteMovie()">Tak</button>
                                    <button class="btn btn-outline-dark" routerLink="/movies">Nie</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>