<nav className="navbar navbar-expand-lg navbar-light bg-light">
  <div className="container-fluid">
    <a className="navbar-brand" to="/">Kino "Bajka"</a>
    <button className="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span className="navbar-toggler-icon"></span>
    </button>
    <div className="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div className="navbar-nav">
        <a className="nav-a" to="/movies">Filmy</a>
        <a className="nav-a" to="/movies/popularity">Popularność filmu</a>
        <a className="nav-a" to="/shows">Seanse</a>
        <a className="nav-a" to="/shows/now">Trwające seanse</a>
        <a className="nav-a" to="/calendar">Kalendarz</a>
      </div>
    </div>
  </div>
</nav>

<main class="container" id="main">
  <router-outlet></router-outlet>
</main>