<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="container border rounded mt-4">
                <div class="row mt-4 mb-4">
                    <div class="col">
                        <h1 class="text-center display-4">Edytuj seans
                        </h1>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <form [formGroup]="form" (ngSubmit)="submitForm()">

                            <label for="movie" class="form-label">Film</label>
                            <select class="form-select" formControlName="movieId" id="movie">
                                <option *ngFor="let movie of movies" [value]="movie.id">
                                    {{movie.title}}
                                </option>
                            </select>

                            <br>

                            <label for="date" class="form-label">Data</label>
                            <div aria-label="date" class="input-group">
                                <input type="datetime-local" class="form-control" placeholder="20.01.2020"
                                    formControlName="date">
                            </div>

                            <br>

                            <label for="auditorium" class="form-label">Sala</label>
                            <select class="form-select" formControlName="auditoriumId" id="auditorium">
                                <option *ngFor="let auditorium of auditoriums" [value]="auditorium.id">
                                    Nr. sali: {{auditorium.number}} (Pojemność: {{auditorium.capacity}})
                                </option>
                            </select>

                            <br>

                            <div class="mb-3 text-center">
                                <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Dodaj seans</button>
                                <span></span>
                                <a class="btn btn-outline-dark" routerLink="/shows">Anuluj</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>