<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="container border rounded mt-4">
                <div class="row mt-4 mb-4">
                    <div class="col">
                        <h1 class="text-center display-4">Dodaj film</h1>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <form [formGroup]="form" (ngSubmit)="submitForm()">
                            <div class="mb-3">
                                <label for="title" class="form-label">Tytuł filmu</label>
                                <input type="email" class="form-control" id="title" formControlName="title" placeholder="Władcy Pierścieni">
                            </div>

                            <label for="time" class="form-label">Czas trwania</label>
                            <div aria-label="time" class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="1" id="hours" formControlName="hours">
                                <span class="input-group-text">:</span>
                                <input type="text" class="form-control" placeholder="35" id="minutes" formControlName="minutes">
                            </div>

                            <div class="mb-3 text-center">
                                <button class="btn btn-primary" type="submit">Dodaj film</button>
                                <a class="btn btn-outline-dark" routerLink="/movies">Anuluj</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>