<div class="row justify-content-center pb-4">
    <div class="col-12 col-lg-8">
        <h1 class="display-4 text-center">List</h1>
    </div>
</div>
<div class="row justify-content-end pb-4">
    <div class="col-8 col-lg-4 text-end">
        <a class="btn btn-light border">Add new (name)</a>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 pb-4">
        <div class="card w-100 h-100" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Tag Name</h5>  
              <a href="#" class="card-link">Details</a>
              <a href="#" class="card-link">Edit</a>
              <a href="#" class="card-link">Delete</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 pb-4">
        <div class="card w-100 h-100" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Tag Name</h5>  
              <a href="#" class="card-link">Details</a>
              <a href="#" class="card-link">Edit</a>
              <a href="#" class="card-link">Delete</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 pb-4">
        <div class="card w-100 h-100" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Tag Name</h5>  
              <a href="#" class="card-link">Details</a>
              <a href="#" class="card-link">Edit</a>
              <a href="#" class="card-link">Delete</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 pb-4">
        <div class="card w-100 h-100" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Tag Name</h5>  
              <a href="#" class="card-link">Details</a>
              <a href="#" class="card-link">Edit</a>
              <a href="#" class="card-link">Delete</a>
            </div>
          </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 pb-4">
        <div class="card w-100 h-100" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Order from (restaurant name)</h5> 
              <h6 class="card-subtitle mb-2 text-muted">Organizer: (organizer name)</h6>
              <p class="card-text">Closing date: (closing date)</p>
              <a href="#" class="card-link">Join</a>
              <a href="#" class="card-link">Details</a>
              <a href="#" class="card-link">Edit</a>
              <a href="#" class="card-link">Delete</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 pb-4">
        <div class="card w-100 h-100" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Order from (restaurant name)</h5> 
              <h6 class="card-subtitle mb-2 text-muted">Organizer: (organizer name)</h6>
              <p class="card-text">Closing date: (closing date)</p>
              <a href="#" class="card-link">Join</a>
              <a href="#" class="card-link">Details</a>
              <a href="#" class="card-link">Edit</a>
              <a href="#" class="card-link">Delete</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 pb-4">
        <div class="card w-100 h-100" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Order from (restaurant name)</h5> 
              <h6 class="card-subtitle mb-2 text-muted">Organizer: (organizer name)</h6>
              <p class="card-text">Closing date: (closing date)</p>
              <a href="#" class="card-link">Join</a>
              <a href="#" class="card-link">Details</a>
              <a href="#" class="card-link">Edit</a>
              <a href="#" class="card-link">Delete</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 pb-4">
        <div class="card w-100 h-100" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Order from (restaurant name)</h5> 
              <h6 class="card-subtitle mb-2 text-muted">Organizer: (organizer name)</h6>
              <p class="card-text">Closing date: (closing date)</p>
              <a href="#" class="card-link">Join</a>
              <a href="#" class="card-link">Details</a>
              <a href="#" class="card-link">Edit</a>
              <a href="#" class="card-link">Delete</a>
            </div>
          </div>
    </div>
</div>