<div class="container">
    <div class="row pb-4">
        <div class="col">
            <h1 class="display-4 text-center">Kalendarz</h1>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-1 text-center">Poniedziałek</th>
                    <th class="col-1 text-center">Wtorek</th>
                    <th class="col-1 text-center">Środa</th>
                    <th class="col-1 text-center">Czwartek</th>
                    <th class="col-1 text-center">Piątek</th>
                    <th class="col-1 text-center">Sobota</th>
                    <th class="col-1 text-center">Niedziela</th>
                </tr>
            </thead>
            <tbody app-calendar-generator>
                
            </tbody>
        </table>
    </div>
</div>