<div class="row justify-content-center">
    <div class="col">
        <h1 class="display-4 text-center">(name)'s details</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-lg-8">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-5 text-left">
                    <strong>Sample text property</strong>
                </div>
                <div class="col-12 col-lg-7">
                    <p>Sample text propert value</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-5 text-left">
                    <strong>Another sample text property</strong>
                </div>
                <div class="col-12 col-lg-7">
                    <p>Another sample text propert value</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-5 text-left">
                    <strong>Sample list property</strong>
                </div>
                <div class="col-12 col-lg-7">
                    <ul>
                        <li>Sample list element</li>
                        <li>Another sample list element</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-lg-8 d-sm-flex justify-content-between">
        <a class="btn btn-light border col-12 col-sm-2 mb-4">aaaa</a>
        <a class="btn btn-light border col-12 col-sm-2 mb-4">bbbb</a>
        <a class="btn btn-light border col-12 col-sm-2 mb-4">cccc</a>
        <a class="btn btn-light border col-12 col-sm-2 mb-4">dddd</a>
    </div>
</div>